/* FIXME for some reason there is like huge ass padding on a navbar */

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav ul {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.nav li {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 15%);
  color: black;
  font-size: 1.5rem;
  min-width: clamp(50px, 150px, 200px);
  text-align: center;
}

.nav li:hover {
  font-weight: bolder;
  transition: font-weight 0.15s ease-in-out;
}

.nav a {
  color: black;
  text-decoration: none;
}
