.nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.nav li {
  background-color: white;
  border-radius: 25px;
  box-shadow: 0 3px 20px 0 rgb(0 0 0 / 15%);
  font-size: 1.5rem;
  min-width: 150px;
  text-align: center;

  :hover {
    font-weight: bolder;
    transition: 0.15s ease-in-out;
  }
}

.nav a {
  color: black;
  text-decoration: none;
}
