nav {
	background-color: red;
}

nav ul {
	list-style-type: none;
	display: flex;
	text-align: center;
	gap: 0.1rem;
}

nav li:hover {
	background-color: gray;
}

nav img {
	width: 100px;
	height: 100px;
	display: block;
}
