* {
	font-family: "Josefin Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	background-color: rgb(250, 250, 250);
}

.btn {
	cursor: pointer;
}

.message {
	font-weight: bold;
}

.message .normal {
	font-weight: normal;
	font-size: 14px;
}

ol,
ul {
	line-height: 30px;
}

.register-page-wrapper,
.login-page-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

table,
tr,
td,
th {
	border: 1px solid black;
	border-collapse: collapse;
}

td,
th {
	padding: 5px 10px;
}

.my-5 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.waiting-page {
	position: fixed;
	top: 25%;
	left: 25%;
	right: 25%;
	bottom: 25%;
	width: 50%;
	height: 50%;
	box-shadow: 0 0 3px 5px gray;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
}
.waiting-page div {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
.item-holder {
	display: flex;
}
.item-holder > a {
	margin: 1rem;
	text-decoration: none;
	font-size: 1.2rem;
	color: black;
	padding: 0.4rem 1rem;
	background-color: white;
	border-radius: 25px;
	font-weight: 300;
	transition: 0.5s;
	color: #2d332c;
	box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.15);
}
.item-holder > a:hover {
	font-weight: bold;
}
.top-nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	margin: 1rem 1.6rem;
}
.logowanie {
	transform: scale(0.62);
}
.close-mobile {
	display: none;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4rem;
	height: 3rem;
}
.close-mobile span::before,
.close-mobile span::after {
	content: "";
	position: absolute;
	width: 1.8rem;
	height: 0.1rem;
	background-color: black;
	top: 40%;
	left: 28%;
	transform: translate(-50%, -50%);
}
.close-mobile span::before {
	transform: rotate(45deg);
}

.close-mobile span::after {
	transform: rotate(-45deg);
}
@media only screen and (max-width: 600px) {
	.top-nav {
		display: none;
		flex-direction: column;
		position: relative;
	}
	.top-nav {
		z-index: 1000;
		margin: 0;
		background-color: rgb(240, 240, 240);
		box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.2);
		padding: 0;
		height: 60vh;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	.item-holder {
		flex-direction: column;
		width: 100%;
	}
	.hamburger {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 2rem;
	}
	.hamburger span {
		width: 1.8rem;
		height: 0.2rem;
		margin: 0.2rem;
		background-color: black;
	}
	.mobile-LN {
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.close-mobile {
		display: flex;
	}
}
@media only screen and (min-width: 600px) {
	.top-nav {
		display: flex !important;
	}
}
@media only screen and (min-height: 730px) {
	.top-nav {
		display: none;
		flex-direction: column;
	}
}
@media only screen and (max-height: 720px) {
	.logowanie {
		transform: scale(0.52);
	}
}
